language:
  - objective-c
  
osx_image:
  - xcode12

xcode_workspace:
  - Example/Cloudinary.xcworkspace

xcode_scheme:
  - travis_public_scheme

podfile:
  - Example/Podfile

install:
  - pod install --project-directory=Example

env:
  - CLOUDINARY_URL=$CLOUDINARY_URL

matrix:
  include:
    - xcode_destination: platform=iOS Simulator,OS=10.0,name=iPhone 8
    - xcode_destination: platform=iOS Simulator,OS=11.0,name=iPhone 8
    - xcode_destination: platform=iOS Simulator,OS=12.0,name=iPhone 8
    - xcode_destination: platform=iOS Simulator,OS=13.0,name=iPhone 8
    - xcode_destination: platform=iOS Simulator,OS=14.0,name=iPhone 8

before_script: >
  export CLOUDINARY_URL=$(bash tools/get_test_cloud.sh);
  echo cloud_name: "$(echo $CLOUDINARY_URL | cut -d'@' -f2)"
