language: objective-c
osx_image: xcode11.4
xcode_project: Example/Cloudinary.xcworkspace
podfile: Example/Podfile
xcode_scheme: travis_public_scheme
xcode_sdk: iphonesimulator11.2
install: pod install --project-directory=Example
script: xcodebuild clean test -workspace Example/Cloudinary.xcworkspace -scheme travis_public_scheme -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 8,OS=11.2' -CLOUDINARY_URL=$CLOUDINARY_URL | xcpretty && exit ${PIPESTATUS[0]}
